<footer class="footer">
	<p class="credits">© Fabrício Silva</p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/prettify/src/prettify.js"></script>
<script src="/js/main.js"></script>
{% if site.analytics %}
<script type="text/javascript">
var _gaq=[['_setAccount','{{ site.analytics }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endif %}