<header class="header">
<div class="wrapper">
	<nav class="nav">
		<a class="extra" href="/" class="nav-link">Sobre</a>
		<a class="extra" href="/projetos/" class="nav-link">Projetos</a>
		<a class="extra" href="/blog/" class="nav-link">Blog</a>
	</nav>
	<div class="box">
		<h1 class="box-title"><a href="/" class="box-link">{{ site.name }}</a></h1>
		<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/c0.76.851.315/p851x315/858667_578417795502695_126887961_o.jpg" alt="Fabrício Silva - Desenvolvedor Front-End, HTML, CSS e JavaScript" class="box-img">
	</div>
</div>
</header>