<!doctype html>
<html lang="pt-BR" class="no-js">
<head>
<meta charset="utf-8">
{% if page.metatitle %}
<title>{{ page.metatitle }}</title>
{% else %}
<title>{{ page.title }} - {{ site.name }}</title>
{% endif %}
<meta name="description" content="{{ page.description }}">
{% if page.canonical %}
<link rel="canonical" href="{{ page.canonical }}">
{% else %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% endif %}
<link rel="author" href="https://plus.google.com/105011365395783776506/">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="/img/favicon.png">
<link rel="apple-touch-icon" href="/img/apple-icon-touch.png">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/prettify.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>