.about {
  padding-top: 5em;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.about__hi {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  text-transform: uppercase;
}

.about__name {
  margin: 0;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
}

.about__job {
  margin: 0;
  text-align: right;
}
