/**
 * Archive
 */
.archive {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.archive__title {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.archive__years a {
  margin-right: .75rem;
  border-bottom: none;
  color: var(--text-secondary);

  &:hover {
    color: var(--link);
  }
}

.archive-title {
  margin-bottom: .5em;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  color: var(--text-secondary);
  border-bottom: 1px solid var(--border);
}
