/**
 * Archive
 */
.archive {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }

  .article__title {
    font-size: 1.2em;

    &,
    &:visited {
      color: $text-color;
      text-decoration: none;
      border-bottom: 1px solid $grey-color-light;
    }

    &:hover {
      border-bottom-color: $brand-color;
    }
  }
}

.archive__title {
  margin-bottom: .35em;
  font-size: 1.5em;
  font-weight: 100;
  line-height: $title-line-height;
  color: $grey-color;
  border-bottom: 1px solid $grey-color-light;
}
