/**
 * Articles
 */
.articles {
  list-style: none;

  .article-title {
    font-size: 1.5rem;
  }
}

.article {
  margin-bottom: 1.2rem;
}

.article-title {
  font-size: 2.1rem;
  margin-bottom: 0;

  a {
    color: $text-color;
    border-bottom: none;
  }

  @include media-query($on-tablet) {
    font-size: 2.1rem;
  }
}

.article-date {
  font-size: .75rem;
  font-weight: 200;
  color: $grey-color;
  text-transform: uppercase;
}

.article-content {
  & p {
    margin-bottom: 1.6em;
  }
}
