/**
 * Articles
 */
.articles {
  padding: 0;
  list-style: none;

  .article-title {
    font-size: 1.5rem;
  }
}

.article {
  margin-bottom: 1.2rem;
}

.article-header {
  margin-bottom: 1rem;
}

.article-title {
  font-size: 2.1rem;
  margin-bottom: 0;
  text-transform: uppercase;

  a {
    color: $text-color;
    border-bottom: none;
  }

  @include media-query($on-tablet) {
    font-size: 2.1rem;
  }
}

.article-date {
  font-size: .95rem;
  color: $grey-color;
}

.article-image {
  margin-bottom: 1em;
}

.article-content {
  margin-bottom: 2rem;

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
    font-family: Garamond, "Adobe Garamond Pro", Georgia, serif;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  li {
    font-family: Garamond, "Adobe Garamond Pro", Georgia, serif;
  }

  blockquote {
    p {
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    cite {
      display: block;
      font-family: $base-font-family;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.article-footer {
  .article-date {
    margin-bottom: 1rem;
    font-style: italic;
  }

  small {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
  }
}
