/**
 * Reset some basic elements
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}



/**
 * Basic styling
 */
html {
  font-size: 1rem;

  @include media-query($on-tablet) {
    font-size: 1.1rem;
  }
}

body {
  max-width: $content-width;
  margin: auto;
  padding: 2rem 2rem 2rem 2.5rem;
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
}


/**
 * Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

code {
  padding: 0 .5rem;
  font-family: "Source Code Pro", monospace;
  background: #fafafa;
}

blockquote {
  margin-left: 0.5rem;
  padding-left: 1.5rem;
  border-left: 6px solid;

  p {
    font-style: italic;
  }
}

ul,
ol {
  padding-left: 1.5rem;
}

li {
  margin-bottom: .5rem;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid;

  &:visited {
    color: darken($link-color, 5%);
    border-bottom-color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 15%);
    border-bottom-color: darken($link-color, 15%);
  }
}

.link-external {
  &:after {
    content: attr(data-external);
  }
}



/**
 * Container
 */
.container {
  max-width: $content-width;
  padding: 2em 1em;
  @extend %clearfix;

  @include media-query($on-tablet) {
    margin-right: auto;
    margin-left: auto;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}



/**
 * Main
 */
.main {
  margin-bottom: 2em;
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
      display: table;
      content: " ";
      clear: both;
  }
}



/**
 * ScreenReader Only
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
