/**
 * Footer
 */
.footer {
  a {
    &,
    &:visited {
      color: $text-color;
      text-decoration: none;
      border-bottom: 1px solid $grey-color-light;
    }

    &:hover {
      border-bottom-color: $brand-color;
    }
  }
}
