/**
 * Nav
 */
.nav {
  a {
    display: inline-block;
    margin-right: .5em;
    color: $grey-color;
    border-bottom-color: darken($link-color, 5%);

    &:visited {
      border-bottom-color: darken($link-color, 5%);
    }

    &:hover {
      color: $link-color;
      border-bottom-color: darken($link-color, 5%);
    }
  }
}

.nav__list {
  display: inline-block;
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-right: .5em;

  &:last-of-type {
    margin-right: 0;
  }
}
