/**
 * Nav
 */
.nav {
  a {
    display: inline-block;
    margin-right: .5em;

    &,
    &:visited {
      color: $grey-color;
      text-decoration: none;
      border-bottom: none;
    }

    &:hover {
      color: $text-color;
    }
  }
}

.nav__list {
  display: inline-block;
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-right: .5em;

  &:last-of-type {
    margin-right: 0;
  }
}
