---
layout: default
title: Blog sobre desenvolvimento Front-End, HTML, CSS e JavaScript
description: Meu blog pessoal sobre desenvolvimento Front-End, HTML, CSS, JavaScript, jQuery e afins; tecnologia.
canonical: http://www.fabriciofmsilva.com.br/blog/
---

<section class="main">
<div class="content">
{% if page.image %}
<img src="{{ page.image }}" alt="{{ page.image-alt }}" class="box-img">
{% else %}
<img src="{{ site.url }}/img/fabricio-silva.jpg" alt="Fabrício Silva - Desenvolvedor Front-End, HTML, CSS e JavaScript" class="box-img">
{% endif %}
<div class="clearfix">
	<h1>Blog</h1>
	<ul class="article-list">
		{% for post in site.posts %}
		<li class="article-item">
      <article class="article">
        <header class="article-header">
          <h2 class="article-title"><a href="{{ post.url }}" class="article-link">{{ post.title }}</a></h2>
          <time datetime="{{ post.date }}" content="{{ post.date | date: "%d/%m/%Y" }}" class="article-date">{{ post.date | date_to_string }}</time>
        </header>
      </article>
    </li>
		{% endfor %}
	</ul>
</div>
</div>
</section>