<!DOCTYPE html>
  <html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <section class="main">
      <article class="container article" itemscope itemtype="http://schema.org/Article">
        <header class="article__header">
          <h1 class="article__title" itemprop="name">{{ page.title }}</h1>
          <p class="article__date">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B %Y" }}</time>
            <a class="article__author sr-only" href="{{ site.plus }}" itemprop="author">{{ site.name }}</a>
          </p>
        </header>

        <div class="article__content" itemprop="articleBody">
          {% if page.image %}
          <figure>
            <img src="{{ page.image }}" alt="{{ page.image-alt }}" class="box-img" itemprop="image">
          </figure>
          {% endif %}

          {{ content }}
        </div>

        <footer class="article__footer">
          {% include disqus.html %}
        </footer>
      </article>
    </section>

    {% include footer.html %}
  </body>
</html>
